@import "bootstrap/scss/bootstrap";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  header {
    flex-shrink: 0;
  }

  main {
    flex: 1;
    overflow: hidden;
  }
}
